numpy==1.19.3
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0
scipy==1.5.4
tensorboard==2.3.0
-f https://download.pytorch.org/whl/torch_stable.html
torchvision===0.8.1
Pillow==8.0.1
